@font-face
{
font-family: Caligraphy;
src: url('../font/Corinthia.ttf'),
     url('../font/Corinthia.eot'); /* IE9 */
}

/* COMMON STYLE */
.clear {
	clear: both;
}
body {
	padding: 0;
	margin: 0;
	background: url('../img/bg.jpg');
	color: #333;
	font-size: 13px;
	font-family: "Helvetica", Arial, sans-serif;
}
body img {
	border: none;
}
a {
	text-decoration: underline;
	color: #da7100;
}
p {
	margin: 5px 0 10px;
	padding: 0;
}
article {
	font-family: "Times New Roman", serif;
	/* font-size: 13px; */
}
article footer {
	font-family: Caligraphy, serif !important;
	font-size: 20px;
	text-align: right;
	margin-top: 20px;
}
#hot-line {
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
}

/* DARK with POPUPS */
#dark {
	/* display: none; */
	position:fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 999;
}
#dark .buy {
	position: relative;
}
#dark .buy #close {
	position: absolute;
	right: 5px;
	top: 5px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
#dark .buy {
	/*overflow: hidden;*/
	
	top: 50%;
	position: absolute;
	z-index: 9999;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 6px #222; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		box-shadow: 0px 0px 6px #222; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
	-webkit-border-radius: 9px; /* Saf3-4, iOS 1-3.2, Android ?1.6 */
    	-moz-border-radius: 9px; /* FF1-3.6 */
    		border-radius: 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}
#dark .buy .item-details div {
	vertical-align: middle;
	text-align: center;
}
#dark .buy .item-details span img {
	margin: 0 10px;
	vertical-align: top;
}
#dark .buy .item-details .title {
	margin: 0 0 10px;
}
#dark .buy .item-details .images {
	height: 170px;
}

/* Alert */
#dark .buy #alert {
	padding: 10px;
	text-align: center;
}

/* Sign in or Sign up */
.buy {
	margin-top: -200px;
}
#dark .buy #order {
	padding: 0 25px 20px;
}
#dark .buy #order h1 {
	font-family: "Times New Roman", serif;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 10px;
	text-align: left;
}
#dark .buy #order article {
	font-size: 12px;
	/* font-style: italic; */
	color: #777;
	text-align: left;
	line-height: 15px;
	margin-top: 20px;
}
#dark .buy #order #signin, #dark .buy #order #signup {
	vertical-align: top;
	width: 170px;
	display: inline-block;
	text-align: center;
}
#dark .buy #order #or {
	border-top: 1px solid #bb8900;
	padding-bottom: 360px;
	height: 30px;
	width: 30px;
	display: inline-block;
	text-align: center;
	background: #ffbb00 url('../img/diamond.png') no-repeat center center;
	color: #fff;
	font-size: 10px;
	line-height: 30px;
	margin: 0 30px;
	-webkit-border-radius: 15px; /* Safari 3-4, iOS 1-3.2, Android ?1.6 */
	          border-radius: 15px; /* Opera 10.5, IE9, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
}
#dark .buy #order #signin label, #dark .buy #order #signup label {
	display: block;
	text-align: left;
	margin-bottom: 3px;
	font-size: 10px;
}
#dark .buy #order #signin input, #dark .buy #order #signup input {
	margin: 0;
	padding: 3px 5px;
	width: 160px;
	margin-bottom: 10px;
}

/* Ring Sizes */
#dark .buy .ring-size {
	height: 62px;
	background: url('/img/buy-rule-bg.jpg') repeat-x;
	padding-top: 22px;
}
#dark .buy h3 {
	padding-left: 20px;
	font-weight: normal !important;
	font-size: 12px !important;
}
#dark .buy .ring-size ul {
	list-style-type: none;
	margin: 0;
	margin-left: 65px;
	padding: 0;
}
#dark .buy .ring-size ul li {
	display: inline-block;
	width: 30px;
	text-align: center;
}
#dark .buy .ring-size label {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

/* Choose Diamond */
#dark .buy .choose-diamond {
	border-top: 1px solid #87735b;
	border-bottom: 1px solid #87735b;
	padding: 15px 0;
}
#dark .buy .choose-diamond div {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	font-size: 10px;
	padding: 0 15px;
}
#dark .buy .choose-diamond div select {
	width: 100%;
}
#dark .buy .choose-diamond div img {
	float: none;
}
#dark .buy .choose-diamond .image {
	text-align: center;
	width: 95px;
	height: 71px;
}
#dark .buy .choose-diamond .choose {
	width: 160px;
}

/* Add to Cart */
#dark .buy .add-to-cart div {
	display: inline-block;
	width: 140px;
	vertical-align: middle;
	font-size: 12px;
	padding: 10px;
	text-align: center;
}
#dark .buy .add-to-cart div span {
	font-size: 22px;
}
#dark .buy .add-to-cart div input {
	width: 40px;
	text-align: right;
}

#item {
	display: none;
	height: 340px;
	top: 50%;
	margin-top: -170px;
}
#ring {
	display: none;
	height: 465px;
	top: 50%;
	margin-top: -232px;
}
#collection {
	display: none;
	height: 465px;
	top: 50%;
	margin-top: -232px;
}

/* CONTEINER */
#container {
	width: 1024px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          	box-shadow: 0px 0px 4px 0px #000; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* HEADER */
header#main > * {
	vertical-align: top;
	display: inline-block;
	margin: 15px 50px;
}
header#main #logotype {
	text-indent: -9999px;
	width: 178px;
	height: 100px;
	background: url('../img/logo.jpg') no-repeat center center;
	margin: 20px 0 0 30px;
}
header#main article {
	font-style: italic;
	width: 480px;
	margin: 15px 30px;
}

/* Main Navigation */
nav.main-menu {
	margin: 15px 0 !important;
	display: block;
	width: 100%;
	text-align: right;
	padding: 0 !important;
}
nav.main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav.main-menu ul li {
	display: inline-block;
	margin-right: 15px;
}
nav.main-menu ul li a {
	text-decoration: none;
	color: #333;
}
nav.main-menu ul li:last-child a {
	text-decoration: none;
	color: #da7100;
	text-decoration: underline;
}

/* Minicart */
#basket{
	margin:0 !important;;
}
header#main #mini-cart {
	width: 230px !important;
	margin: 10px 0;
}
header#main #mini-cart a {
	font-size: 10px;
}
header#main #mini-cart header {
	line-height: 20px;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}
header#main #mini-cart header img {
	vertical-align: top;
	margin-right: 10px;
}

/* DIVIDES */
#head-div {
	text-indent: -9999px;
	height: 43px;
	background: url('../img/header-div.jpg') no-repeat;
}
#main-head-div {
	text-indent: -9999px;
	height: 211px;
	background: url('../img/master.jpg') no-repeat;
}

/* CONTENT */

/* Side Menu */
#content aside {
	float: left;
	width: 200px;
}
#content aside h1 {
	font-size: 16px;
	margin: 10px 0;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	padding-bottom: 5px;
}
#content aside nav {
	padding-left: 20px;
}
#content aside nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#content aside nav ul li img {
	vertical-align: middle;
	margin-right: 10px;
}
#content aside nav ul li a {
	line-height: 30px;
}
#content aside nav p {
	padding: 40px 0;
}

/* Work Side */
#work-side {
	padding: 0 30px;
	margin-left: 202px;
}
#work-side h1, #work-side h2 {
	margin: 10px 0 15px;
}
#work-side h1 {
	font-family: Caligraphy, serif !important;
	font-size: 40px !important;
	font-weight: normal !important;
	padding-left: 6px;
}
#work-side h2 {
	font-size: 14px;
	font-style: italic;
}
#work-side h1.title {
	background: url('../img/title.jpg') no-repeat center bottom;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 70px;
}

/* Items Style*/
#work-side .round {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 200px;
    	-moz-border-radius: 200px;
    		border-radius: 200px;
    overflow: hidden;
}

#work-side .item {
	margin: 0 15px 30px;
	width: 200px;
	display: inline-table;
	text-align: center;
}

#work-side .item .zoom {
	position: relative;
}
#work-side .item .zoom .big {
	display: none;
	position: absolute;
	background: #fff;
	width: 300px;
	height: 300px;
	z-index: 1;
	overflow: hidden;
	padding: 10px;
	margin-top: -400px;
	margin-left: -75px;
	-webkit-box-shadow: 0px 0px 6px #222;
		box-shadow: 0px 0px 6px #222;
	-webkit-border-radius: 9px;
    	-moz-border-radius: 9px;
    		border-radius: 9px;
}
#work-side .item .zoom:hover .big {
	display: block;
}

/*
#work-side .item p {
	text-align: center;
}
*/
#work-side .item td {
	font-size: 10px;
	text-align: left;
	padding: 5px;
	background: #fff7f2;
	border-top: 1px dashed #e5dfda;
}
#work-side .item td:last-child {
	text-align: right;
}
#work-side .item td b {
	font-size: 12px;
}
#work-side .item table {
	border-bottom: 2px solid #aaa;
}
#work-side article {
	margin-bottom: 30px;
}
#work-side article footer {
	font-size: 26px;
	color: #003fc3;
}

/* Admin Diamond */
#work-side .diamond {
	width: 120px;
	display: inline-table;
	margin-right: 40px;
	margin-bottom: 20px;
	position: relative;
}
#work-side .diamond label {
	display: block;
}
#work-side .diamond input {
	width: 100%;
	margin-bottom: 10px;
}
#work-side #add-diamond {
	padding: 20px 0;
	border-bottom: 1px dashed #bbb;
	margin-bottom: 10px;
}
#work-side .diamond .delete {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	text-decoration: none;
	color: #af0000;
}

/* Admin Item */
#work-side .admin {
	padding: 10px 0 !important;
}
#work-side #add-item label {
	display: block;
	margin-bottom: 5px;
}
#work-side #add-item p {
	margin: 5px 0 10px;
}
#work-side #add-item input, #work-side #add-item select, #work-side #add-item textarea {
	margin-bottom: 10px;
} 

/* Admin Collections */
#work-side #collections-list td, #work-side #collections-list th {
	text-align: left;
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
}

/* Admin Main */
.admin-main {
		padding-top: 60px !important;
}
#work-side #admin-main {
	margin: 0 auto;
	width: 300px;
	color: #777;
	border: 1px dashed #aaa;
	padding: 20px;
}

/* Admin Orders */
#work-side #orders .order {
	padding: 10px 0 20px;
	border-bottom: 1px dashed #aaa;
}
#work-side #orders .order .order-number {
	font-size: 18px;
}
#work-side #orders .order p {
	margin: 0 0 5px;
}
#work-side #orders .order table {
	border-top: 2px solid #ccc;
}
#work-side #orders .order td, #work-side #orders .order th {
	text-align: center;
	border-bottom: 1px dashed #eee;
	padding: 5px 0;
}
#work-side #orders .order .action {
	padding: 10px 0;
	text-align: center;
}
#work-side #orders .order .make {
	color: #8bb500;
}
#work-side #orders .order .user-data {
	padding: 10px 0;
}

/* Paging */
#pages {
	text-align: center;
	padding: 10px 0 20px;
	border-top: 1px solid #eee;
}
#pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#pages ul li {
	display: inline-block;
	margin-right: 10px;
}

/* Why We */
#why-me {
	font-family: "Times New Roman", serif;
}
#why-me h1 {
	padding-left: 20px !important;
	font-style: italic;
	font-size: 16px;
	margin: 0 0 5px;
	padding: 0;
}
#why-me .bg {
	margin-bottom: 10px;
	background: url('../img/bottom-info-bg.jpg');
	border-top: 1px solid #a49e8f;
	border-bottom: 1px solid #a49e8f;
	-webkit-box-shadow: 0px 0px 2px #a49e8f inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 0px 0px 2px #a49e8f inset; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
}
#why-me .bg div {
	margin: 10px 0;
	padding: 0 20px;
	display: inline-block;
	vertical-align: middle;
}
#why-me .bg .attention {
	width: 21px;
}
#why-me .bg .text {
	width: 680px;
}
#why-me .bg .button {
	text-align: right;
	margin-top: 18px;
}
#why-me ul {
	margin: 0;
	padding-top: 20px;
	height: 150px;
	list-style-type: decimal;
}
#why-me ul li {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	margin-right: 42px;
	line-height: 16px;
}

/* Help */
#help {
	overflow: hidden;
	border-top: 1px solid #fff;
	padding: 5px 20px;
	width: 600px;
	margin: 20px auto 0;
	background: url('../img/help-bg.jpg');
	-webkit-box-shadow: 0px 1px 3px #777; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		box-shadow: 0px 1px 3px #777; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
	-webkit-border-radius: 9px; /* Saf3-4, iOS 1-3.2, Android ?1.6 */
    	-moz-border-radius: 9px; /* FF1-3.6 */
    		border-radius: 9px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}
#help td {
	font-size: 10px;
	padding-right: 10px;
}
#help td.help-text {
	font-size: 12px;
}

/* Cart */
#cart {
	padding: 20px 0;
}
#cart table th {
	padding: 5px 0;
}
#cart table th, #cart table td {
	text-align: center;
	border-bottom: 1px dashed #ccc;
}
#cart table td input {
	width: 40px;
	text-align: right;
}
#cart #summ {
	text-align: right;
	padding: 20px 0;
	font-size: 16px;
}
#cart #create-order {
	text-align: center;
}


/* FOOTER */
footer#main {
	padding-bottom: 20px;
	background: url('../img/curve-div.jpg') no-repeat center top;
	padding-top: 10px;
	font-size: 12px;
}
footer#main nav.main-menu ul li:first-child {
	float: left;
	margin-left: 20px;
}
footer#main section {
	line-height: 16px;
	margin-left: 20px;
	width: 200px;
	display: inline-block;
}
footer#main p {
	margin: 0 0 5px;
}