
<!-- FOOTER -->
	<footer id="main">
		<nav class="main-menu">
			<ul>
				<li>&copy 2012 Семейная мастерская Людмила - ludmila.com.ua</li>
				<li><a href="/logout/">Выход</a></li>
			</ul>
		</nav>
	</footer>
<!-- END FOOTER -->

</section> <!-- END CONTAINER -->

</body>
</html>