<section id="work-side" class="admin-main">
	<section id="admin-main">
    <b>Панель администратора</b> - позволяет управлять данными, заказами, добавлять и удалять наборы и изделия.
	</section>
</section>
<div class="clear"></div>
</section>
<!-- END CONTENT -->

