		<section id="work-side">

			<form method='post' action='/controllers/new_insert_color.php' enctype='multipart/form-data' autocomplete='off'>

			<section id="add-diamond">

				<h2>Добавить новую вставку</h2>

				<label for="name">Название</label>

			    <input type='text' name='name' value='{$values.name[0]}'/>{$err.name[0]}

			    <label for="incPrice">Цена +</label>

			    <input type='text' name='mark_up' value='{$values.mark_up[0]}'/>

			    <label for="changeImage">Картинка</label>

			    <input type='file' name='image' accept='image/*' />{$err.image[0]}

			    <input type='submit' name='submit' value='Добавить' />

			</section>

            </form>

			{foreach $insert_colors as $insert_color_id => $insert_color}

    			<div class="diamond">

                <form method='post' action='/controllers/new_insert_color.php?id={$insert_color_id}' enctype='multipart/form-data' autocomplete='off'>

    				<a href='/controllers/del_insert_color.php?id={$insert_color_id}' class="delete">X</a>

    			    <img src="/img/diamonds/{$insert_color.image}" alt="diamonds">

    			    <p>

    			    <label for="name">Название</label>

    			    <input type='text' name='name' value='{$insert_color.name}'/>{$err.name[$insert_color_id]}<br>

    			    <label for="incPrice">Цена +</label>

    			    <input type='text' name='mark_up' value='{$insert_color.mark_up}'/>

    			    <label for="changeImage">Сменить картинку</label>

    			    <input type='file' name='image' accept='image/*' />{$err.image[$insert_color_id]}

    			    <input type='submit' name='submit' value='Изменить' />

    			    </p>

			     </form>

    			</div>

            {/foreach}

		</section>

		<div class="clear"></div>

	</section>

<!-- END CONTENT -->

