<h1>Форма регистрации пользователя</h1>
<form method='post' action='/controllers/register.php'>
    <p><label>E-mail: <input type='text' name='email' value='{$values.email}' /></label>{$err.email}
    <p><label>Пароль: <input type='password' name='password' value='{$values.password}' /></label>{$err.password}
    <p><label>Подтвердите пароль: <input type='password' name='retype_password' value='{$values.retype_password}' /></label>{$err.retype_password}
    <p><label>Имя: <input type='text' name='first_name' value='{$values.first_name}' /></label>{$err.first_name}
    <p><label>Фамилия: <input type='text' name='last_name' value='{$values.last_name}' /></label>{$err.last_name}
    <p><label>Номер телефона: <input type='text' name='phone' value='{$values.phone}' /></label>{$err.phone}
    <p><input type='submit' name='submit' value='Отправить' />
</form>