<section id="main-head-div">Master</section>
<!-- CONTENT -->
	<section id="content">
	{include file='includes/aside.tpl'}
		<section id="work-side">
			<article>
				<h1>Здравствуйте дорогой гость!</h1>
				<h2>Мы очень любим свою работу и дорожим каждым клиентом!</h2>
				<p>У нас вы можете выбрать и приобрести ювелирные украшения собственного производства.Полный цикл производства позволяет нам создавать наши изделия быстро,качественно,учитывая индивидуальные предпочтения каждого клиента(выбор размера изделия,цвета вставки,цвета металла и т.д.).Исключая посредников, мы можем предлагать наши украшения по самым низким ценам:400 гривен за 1 грамм изделия из золота 585 пробы.К примеру: средняя цена у конкурентов колеблется от430 до450 и выше.</p>

				<p>Все изделия сертифицированы центральным казённым предприятием пробирного контроля, и на каждом стоит клеймо фирмы-производителя, что гарантирует подленность и безопасность нашего товара.</p>

				<p>Мы приложим все усилия, что бы сотрудничество с нами стало для Вас удачным и выгодным. С уважением коллектив Семейной мастерской "Людмила".</p>

			</article>
			<h1 class="title">Наши украшения</h1>
			<div class="item">
				<img src="/files/product_images/104410.jpg" width="100" alt="item">
				<p>Кольца</p>
			</div>
			<div class="item">
				<img src="/files/product_images/100305.jpg" width="100" alt="item">
				<p>Серьги</p>
			</div>
			<div class="item">
				<img src="/files/product_images/500800.jpg" width="100" alt="item">
				<p>Браслеты</p>
			</div>
			<div class="item">
				<img src="/files/product_images/102627.jpg" width="100" alt="item">
				<p>Колье</p>
			</div>
		</section>
		<div class="clear"></div>
		<section id="why-me">
			<h1>Почему выгодно сотрудничать с нами?</h1>
			<ul class="bg">
				<li><img src="/img/diamond.png" alt="Diamond">Цены это один из самых острых вопросов в бизнесе. Являясь производителями, мы стремимся снизить цены,делая их более привлекательными, чем у конкурентов. Тем более, что большая часть из них не производит, а перепродает.</li>
				<li><img src="/img/diamond.png" alt="Diamond">Наши украшения выполнены из золота 585 пробы, заказчик может выбрать розовый, белый или комбинированный цвет металла.</li>
				<li><img src="/img/diamond.png" alt="Diamond">Так же по желанию заказчика мы можем изменить цвет камня, взгляните на цветовую палитру: <a href="/diamonds/">примеры вставок</a></li>
				<li><img src="/img/diamond.png" alt="Diamond">Производство украшений, для нас, не просто бизнес - это радость общения, вдохновение от сопричастности к прекрасному, возможность делать подарки людям.</li>
			</ul>
		</section>
</section><!-- END CONTENT -->