<section id="head-div">Divide</section><!-- CONTENT -->	<section id="content">		{include file='includes/aside.tpl'}										<section id="work-side">
<article>
	<h1>Как можно получить изделия?</h1>
	<h2>Мы сотрудничаем с несколькими популярными компаниями которые осуществляют доставку:</h2>
		<h3>Новая почта - <a href="http://novaposhta.ua">http://novaposhta.ua</a></h3>
		<h3>Автолюкс - <a href="http://www.autolux.ua">http://www.autolux.ua</a></h3>
		<h3>Интайм - <a href="http://www.intime.ua">http://www.intime.ua</a></h3>
		
		<h2>Выберите наиболее удобный для вас.</h2>	
		
		<h1>Как можно оплатить?</h1>
		<h2>Оплатить вы можете несколькими способами:</h2>
		<h3>Наложенный платёж</h3>
		<p>При получении посылки вы проверяете наличие и состояние полученного товара, после этого оплачиваете прямо в отделении транспортной компании</p>
		<h3>Денежный перевод</h3>
		<p>Большинство банков предоставляют услугу перевод по Украине, вы можете перевести деньги, которые мы получим в течении 5 минут</p>
		<h3>Расчет на карту</h3>
		<p>Вы можете оплатить товар, внеся необходимую сумму на нашу банковскую карту:</p>
		<pre>
	4405 8858 1135 8362
	Куркин Тарас Викторович
	Приват Банк
		</pre>
		</article>
</section>
<div class="clear"></div>				<!--<section id="why-me">			<section class="bg">				<div class="attention"><img src="/img/attention.png" alt="Внимание"></div>				<div class="text">Все цены приведенные выше - оптовые. Минимальный заказ от 500 грн. Став нашим партнером вы сможете делать заказы на меньшую сумму.</div>				<div class="button"><a href="#"><img src="/img/buy-retail.png" alt="Как купить в розницу?"></a></div>			</section>		</section>-->	</section><!-- END CONTENT -->